:root {
  --primary-color: rgb(138, 158, 25);
  --highlight-color1: rgb(65, 90, 33);
  --highlight-color2: rgb(255, 115, 0);
  --highlight-color3: rgb(247, 244, 244);
  --support-color: rgb(217, 255, 129);
  --font-family: "Fasthand", cursive;
  --font-family: "Squada One", cursive;
}
body {
  background-color: var(--primary-color);
  font-size: 20px;
  color: var(--support-color);
  font-family: "Squada One", cursive;
}
.navbar {
  background-color: var(--highlight-color1);
  font-family: "Fasthand", cursive;
  font-size: 22px;
}
#personal-logo {
  max-width: 30px;
}
#silvoplee-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.silv-atmosphere {
  width: 585px;
  height: 468px;
}
.silv-food {
  width: 568px;
  height: 470px;
}
.silv-sweets {
  width: 562px;
  height: 560px;
}
footer {
  font-family: "Fasthand", cursive;
  color: var(--highlight-color3);
}
.further-search-logos {
  max-width: 100px;
  margin: 2px;
}
