:root {
  --primary-color: rgb(138, 158, 25);
  --highlight-color1: rgb(65, 90, 33);
  --highlight-color2: rgb(255, 115, 0);
  --highlight-color3: rgb(247, 244, 244);
  --support-color: rgb(217, 255, 129);
  --basic-font-family: "Fasthand", cursive;
  --support-font-family: "Squada One", cursive;
}
body {
  background: var(--primary-color);
  font-size: 20px;
  color: var(--support-color);
  font-family: "Squada One", cursive;
}
.navbar {
  background-color: var(--highlight-color1);
  font-family: "Fasthand", cursive;
  font-size: 22px;
  max-width: 100%;
}
#personal-logo {
  max-width: 30px;
}
#silvoplee-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.silv-atmosphere,
.silv-food,
.silv-sweets {
  width: 100%;
  height: 100%;
}
#index-container {
  display: flex;
  flex-wrap: wrap;
}
#visuals-container {
  display: flex;
  flex-wrap: wrap;
}
#contacts-container {
  display: flex;
  flex-wrap: wrap;
}
footer {
  font-family: "Fasthand", cursive;
  color: var(--highlight-color3);
}
.further-search-logos {
  max-width: 100px;
  margin: 2px;
  overflow: hidden;
}
video {
  height: 100%;
  width: 100%;
}
#styled {
  font-family: "Fasthand", cursive;
  color: var(--highlight-color3);
  font-size: 22px;
}
